<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Naver 지도 표시하기</title>
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=py7vaucpvn">
        var app = new Vue({
          el: '#app',
          data: {
            link: 'https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=py7vaucpvn' //this is the link
  }
})

      </script>

</head>

<body>
  <div id="app">
      <p v-html="link"></p>
  </div>
  <script type="text/javascript"
      src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=py7vaucpvn">
      var app = new Vue({
        el: '#app',
        data: {
          link: 'https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=py7vaucpvn' //this is the link
}
})

    </script>
    <!-- <span id="xy" style="display:none;"><%= xy %></span> -->
    <span id="cnt" style="display:none;"><%= xy[0] %></span>
    <span id="start_xy" style="display:none;"><%= xy[1] %></span>
    <span id="goal_xy" style="display:none;"><%= xy[2] %></span>
    <span id="stops1_xy" style="display:none;"><%= xy[3] %></span>
    <span id="stops2_xy" style="display:none;"><%= xy[4] %></span>
    <span id="route_xy" style="display:none;"><%= xy[5] %></span>

    <div id="map" style="width:50%;height:400px;"></div>
    <script>
      //var xy = document.getElementById("xy").innerHTML;
      var cnt = document.getElementById("cnt").innerHTML;
      var start_xy = document.getElementById("start_xy").innerHTML;
      var goal_xy = document.getElementById("goal_xy").innerHTML;
      var stops1_xy = document.getElementById("stops1_xy").innerHTML;
      var stops2_xy = document.getElementById("stops2_xy").innerHTML;
      var route_xy = document.getElementById("route_xy").innerHTML;

      if (cnt == 2){
        route_xy = stops1_xy;
      }
      else if (cnt == 3){
        route_xy = stops2_xy;
      }

        var start = start_xy.split(',');
        var start_place = start_place
        var start_lat = parseFloat(start[1])
        var start_lng = parseFloat(start[0])
        var goal = goal_xy.split(',');
        var goal_place = goal_place
        var goal_lat = parseFloat(goal[1])
        var goal_lng = parseFloat(goal[0])

        var stops1 = stops1_xy.split(',');
        var stops1_place = stops1_place
        var stops1_lat = parseFloat(stops1[1])
        var stops1_lng = parseFloat(stops1[0])

        var stops2 = stops2_xy.split(',');
        var stops2_place = stops1_place
        var stops2_lat = parseFloat(stops2[1])
        var stops2_lng = parseFloat(stops2[0])

        var route_xy = route_xy.split(',');
        let lngArr = [];
        let latArr = [];
        for (var i = 0; i < route_xy.length; i++){
          if (i % 2 == 0){
            lngArr.push(route_xy[i]);
          }
          else{
            latArr.push(route_xy[i]);
          }
        }
        const locations = [
            { place: start_place, lat: start_lat, lng: start_lng },
            { place: goal_place, lat: goal_lat, lng: goal_lng },
            { place: stops1_place, lat: stops1_lat, lng: stops1_lng },
            { place: stops2_place, lat: stops2_lat, lng: stops2_lng },

        ];

        let polylinePath = [];
        var i = 0;
        while (latArr[i]){
          polylinePath.push(new naver.maps.LatLng(parseFloat(latArr[i]), parseFloat(lngArr[i])));
          i = i + 1;
        }

        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng((start_lat+goal_lat)/2, (start_lng+goal_lng)/2),
            zoom: 15
        });

        for (var i = 0; i < locations.length; i++) {
                var marker = new naver.maps.Marker({
                    map: map,
                    title: locations[i].place,
                    position: new naver.maps.LatLng(locations[i].lat, locations[i].lng),
                });
            }
    var polyline = new naver.maps.Polyline({
    path: polylinePath,      //선 위치 변수배열
    strokeColor: '#3163EB', //선 색 빨강 #빨강,초록,파랑
    strokeOpacity: 0.7, //선 투명도 0 ~ 1
    strokeWeight: 6,   //선 두께
    map: map           //오버레이할 지도
});

    </script src>
</body>
</html>
